.container {
  display: grid;
  gap: 40px;
  grid-template-columns: 1fr 1fr;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

@media screen and (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
