.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.title {
  color: #000000;
  font-size: 120px;
  line-height: normal;
  letter-spacing: -2.5px;
  background-position: center center;
  border-color: transparent;
  border-style: solid;
}

.paragraph {
  font-size: 20px;
  padding-left: 0.5em;
}

.description {
  padding: 40px 0;
  font-size: 20px;
  color: #000000;
  opacity: 0.35;
  border-color: transparent;
  border-style: solid;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
}

@media screen and (max-width: 1240px) {
  .title {
    font-size: 80px;
  }
}

@media screen and (max-width: 1114px) {
  .title {
    text-align: center;
  }

  .description {
    text-align: center;
  }

  .paragraph {
    font-size: 20px;
    text-align: center;
  }
}

@media screen and (max-width: 950px) {
  .title {
    text-align: center;
  }
  .paragraph {
    text-align: center;
  }

  .description {
    padding: 40px 0 0;
  }
}

@media screen and (max-width: 693px) {
  .title {
    font-size: 60px;
  }
}

@media screen and (max-width: 520px) {
  .title {
    font-size: 40px;
  }
  .paragraph {
    font-size: 16px;
  }
}
